html,
body {
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

header,
section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 15%;
}

header img {
  max-width: 50%;
}

section {
  height: 85%;
}
